<div class="relative w-32 h-6">
    <div class="absolute top-0 w-full h-full flex items-center space-x-1">
      <div class="star">&starf;</div>
      <div class="star">&starf;</div>
      <div class="star">&starf;</div>
      <div class="star">&starf;</div>
      <div class="star">&starf;</div>
    </div>
    <div class="absolute top-0 h-full text-yellow-400 overflow-hidden flex items-center space-x-1" [style.width.%]="starWidth">
      <div class="star">&starf;</div>
      <div class="star">&starf;</div>
      <div class="star">&starf;</div>
      <div class="star">&starf;</div>
      <div class="star">&starf;</div>
    </div>
  </div>